{% extends 'bboard/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="features">
        <h1>{{ title }}</h1>
        <div class="company-info">
            <div class="info-box">
                <h2>О компании HeekBrains</h2>
                <p>HeekBrains – инновационная компания, специализирующаяся на обучении языкам программирования для школьников. Наша миссия – вдохновлять и развивать будущих программистов.</p>
                <h3>Что мы предлагаем?</h3>
                <p>Мы предоставляем обширные курсы по Python, JavaScript, Java и другим языкам программирования. Наши методики обучения основаны на интерактивных занятиях, проектах и онлайн-платформе с заданиями и учебными материалами.</p>

            </div>
        </div>
    </div>
{% endblock %}
